---
layout: page
title: Home
---

<h2>Recent Posts</h2>

{% for post in paginator.posts %}
<div class="media">
  <div class="pull-right">
    <a href="{{ post.url }}">
      <img src="{{ post.thumbnail }}" class="media-object" alt="{{ post.title }}" width="200" />
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <span class="meta">{{ post.date | date: "%B %-d, %Y" }}</span>
    <span class="post-tag">
      <i class="fa fa-tags"></i>
      {% for t in post.tags %}<a href="/tag/{{ t | replace: " ", "-" }}">{{ t }}</a>{% if post.tags.last != t %},&nbsp;{% endif %}{% endfor %}
    </span>
    <p>
    {{ post.description }}
    <div><a href="{{ post.url}}">Read more...</a></div></p>
  </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.homeurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.homeurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.homeurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<hr />
{% include tag_cloud.html %}
