/*
Custom CSS for the website, no matter the theme.

*/

/*
All images responsive
*/
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.social {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-tag {
  display: block;
  color: #9a9a9a;
}

.post-tag-light {
  display: block;
  color: #fff;
}

.post-img {
  max-width: 800px;
}

.post-img-thumb {
  max-width: 300px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


