ul#social-list{
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

#social-list li{
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
  list-style-type: none;
}

.social {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-tag {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}