<head>
  <meta charset="utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="Steven Suwatanapongched">
  <meta name="description" content="My blog about technology, photography, software development, and stuff.">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Twitter Cards -->
  {% include twitter_cards.html %}
  <!-- Facebook Open Graph -->
  {% include facebook_open_graph.html %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.homeurl }}public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ site.homeurl }}public/css/syntax.css" />
  <link rel="stylesheet" href="{{ site.homeurl }}public/css/custom.css" />
  <link rel="stylesheet" href="{{ site.homeurl }}public/css/basic.css" />
  <link rel="stylesheet" href="{{ site.homeurl }}public/css/fontawesome.min.css" />

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Kameron:400,700' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script defer src="{{ site.homeurl }}public/js/fontawesome-all.js"></script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.homeurl }}public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.homeurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% include google_analytics.html %}
</head>
