<div class="social">
  <ul id="social-list">
    <li><a href="http://twitter.com/sunpech"><i class="fa fa-twitter-square fa-lg"></i></a></li>
    <li><a href="http://facebook.com/sunpechphotography"><i class="fa fa-facebook-square fa-lg"></i></a></li>
    <li><a href="http://plus.google.com/+StevenSuwatanapongched"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
    <li><a href="http://instagram.com/sunpech"><i class="fa fa-instagram fa-lg"></i></a></li>
    <li><a href="http://github.com/sunpech"><i class="fa fa-github-square fa-lg"></i></a></li>
    <li><a href="http://bitbucket.org/sunpech"><i class="fa fa-bitbucket-square fa-lg"></i></a></li>
    <li><a href="{{ site.homeurl }}atom.xml"><i class="fa fa-rss-square fa-lg"></i></a></li>
  </ul>
</div>
