---
layout: default
---

<!-- Header -->
<header class="masthead" style="background-image: url('{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <div class="site-heading">
          {% if page.title == 'Home' %}
            <h1>sunpech.blog</h1>
            <span class="subheading">{{ site.description }}</span>
          {% else %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
  			{{ content }}
		  </div>
	 </div>
  </div>
</main>
